
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 5%;
}

h2 {
    text-align: center;
}

.wrapper {
    text-align: center;
}

.btn-group {
    text-align: center;
}

.btn-primary {
    border-radius: 0;
    width: 35px;
    height: 35px;
}

#m11 {
    border-top-left-radius: 5px;
}

#m18 {
    border-top-right-radius: 5px;
}

#m81 {
    border-bottom-left-radius: 5px;
}

#m88 {
    border-bottom-right-radius: 5px;
}
